
*{
    margin: 0;
}

img {
    width: 100%;
    border-radius: 10px;
}

.navbar {
    background-color: rgb(1, 87, 155);
    color: white;
    margin-bottom: 13px;
}

.navbar>.top {
    display: flex;
    justify-content: end;
    margin-bottom: 35px;
}

.top>.topSpace {
    margin-top: 8px;
    display: flex;
    width: 35%;
    justify-content: space-evenly;
}

.mid>.image {
    width: 15%;
}

.mid {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

#search {
    width: 45%;
}
#search>input{
    width: 90%;
    height: 60%;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar>.bottom {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding-bottom: 8px;
}

#slideshow1,#slideshow2 {
    width: 90%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;

}

#products {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 23px 23px;
    width: 90%;
    margin: auto;
}

#products>div {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    line-height: 25px;
}

#products button{
    background-color: rgb(1, 87, 155);
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
}
.head{
   margin: auto;
   width: 30%;
   background-color: rgb(1, 87, 155) ;
   border-radius: 17px;
   text-align: center;
   color: white;
}

#trendingBox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px 25px;
    width: 90%;
    margin: auto;
    margin-bottom: 45px;
}
.bottom>select{
    height: 24px;
    width: 180px;
    font-size: large;
    color: rgb(85, 85, 85);
}
#footer{
    background-color: rgb(233, 233, 233);
}
#footer>.top{
    text-align: center;
    color: rgb(1, 87, 155);
    padding: 34px;
}
#subscribe{
    width: 50%;
    background-color: rgb(1, 87, 155);
    color: white;
    margin: auto;
    font-size: 19px;
    margin-top: 3%;
    margin-bottom: 4%;
}
#subscribe>input{
    width: 85%;
    height: 30px;
}
#midDetail{
    display: flex;
    line-height: 29px;
    justify-content: space-evenly;
}
#logoCont i{
    width: 30px;
}
#footerLast>div{
    background-color: whitesmoke;
    margin: auto;
    padding: 9px;
}
#footerLast{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    margin-bottom: 2px;
}
#offer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin: auto;
    gap: 10px;
    margin-top: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 14px;
}